@import "../variables.scss";

.footer {
  text-align: center;
  font-size: 1.2em;
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1vh 0;
  background: $white;
  z-index: 2;
  border-top: 5px solid $black;
  color: $black;
}
