@import "../../variables.scss";

.home {
  margin: 5px;

  .title {
    text-align: center;
    font-size: 2.5em;
  }
  
}

@media screen and (min-width: $breakpoint-labtop) {
  .home {
    margin: 20px;
  }
}